h1 {
  color: #7159c1;
}

.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form {
  font-size: 32px;
  margin-bottom: 32px;
}

.logon-container section.form a {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.logon-container section.form a svg {
  margin-right: 8px;
}

.logon-container section.form a:hover {
  opacity: 0.8s;
}